:root {
  --main-color: black;
  --second-color: white;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}
section {
  padding: 140 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.home {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: aliceblue;
}
.home::before {
  content: "";
  position: absolute;
  background-color: rgba(11, 1, 1, 0.416);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.nav {
  display: flex;
  padding-top: 75px;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__item {
  margin-right: 25px;
}
.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.nav__link:hover {
  color: darkcyan;
}
.home__inner {
  height: calc(100vh - 218px);
  top: 50%;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  justify-content: center;
  font-size: 48px;
}
.home__name {
  font-size: 48px;
  line-height: 65px;
  color: var(--second-color);
}
.home__title {
  font-weight: 700;
  font-size: 90px;
}
.home__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: block;
  text-align: center;
}
.home__link::before {
  content: "";
  position: absolute;
  background-image: url(./img/Vector2.svg);
  height: 21px;
  width: 37px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes arrow {
  0% {
    top: 40px;
  }
  50% {
    top: 70px;
  }
  100% {
    top: 40px;
  }
}
.title {
  display: flex;
  line-height: 60px;
  font-size: 48px;
  padding-bottom: 30px;
}
.about {
  padding: 140px 0;
}
.about__me {
  flex-direction: column;
}
.about__item {
  margin-bottom: 30px;
}
.skill {
  background-color: #F6F6F8;
  padding: 140px 0;
  max-width: 1920px;
  max-height: 852px;
}
.skill-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portrait {
  margin-right: 15px;
  width: 415px;
  height: 450px;
}
.bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 85px;
}
.progress-bar {
  background-color:#DBDBED;
  height: 32px;
  width: 600px;
 }
 .progress-bar span {
  display: inline-block;
 }  
 .blue span {
  background-color: #2352DE;
  height: 32px;
  width: 510px;
 }
 .text-bar {
  font-size: 18px;
  text-align: left;
  width: 50px;
  margin: 15px;
 }
 .Services {
  padding: 140px 0;
 }
.service-list {
  display: flex;
  
}
.service-text {
  font-size: 28px;
}
.service-about {
  font-size: 16px;
  padding-right: 90px;
}
.service-item {
  display: flex;
  width: 330px;
  flex-direction: column;
}
.codeicon {
  width: 60px;
  height: 60px;
}
.project{
	text-align: center;
}
.project__item {
  width: 360px;
  height: 180px;
  position: relative;
  z-index: 1;
  margin: 20px auto;
}

.project__item:before,
.project__item:after {
  content: '';
  position: absolute;
  display: block;
  width: 150px;
  height: 180px;
  border: green solid 2px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.project__item:before {
  right: -5px;
  top: -5px;
  border-left: none;
  border-bottom: none;
}

.project__item:after {
  left: -5px;
  bottom: -5px;
  border-right: none;
  border-top: none;
}

.project__item:hover:before,
.project__item:hover:after {
  opacity: 1;
  visibility: visible;
}
.project__list{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 45px;
}
.project__item img{	
	max-width: 360px;
	width: 100%;
}
.results {
  margin-bottom: 140px;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.result-text {
  padding-top: 20px;
  padding-bottom: 20px;
  white-space: nowrap;
  text-align: center;
}
.results-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #DBDBED;
  width: 275px;
  height: 275px;
}
.contacts__info {
  padding-top: 60px;
}
.contacts__connection {
  padding-bottom: 30px;
}
.contacts__number {
  padding-bottom: 15px;
}
.contacts__item {
  padding-right: 30px;
  width: 75px;
  height: 75px;
}