:root {
  --main-color: black;
  --second-color: white;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}
section {
  padding: 140 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.home {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: aliceblue;
}

.home::before {
  content: "";
  position: absolute;
  background-color: rgba(11, 1, 1, 0.416);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.nav {
  display: flex;
  padding-top: 75px;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width:800px){  
.logo__img {
  width: 96px;
  height: 35px;
}
}
.nav__list {
  display: flex;
}
.nav__list {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width:1024px)  {
  .nav__list {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      padding: 15px;
      background-color: white;
      transition: 0.5s;    
      transform: translateX(100%);
      flex-direction: column;
      align-items: center;
  }

  .nav__list.active {
      transform: translateX(0);
}
}
.nav__item {
  margin-right: 25px;
}
@media screen and (max-width: 768px){
  .nav__item {
    color: black;
  }
}
.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.nav__link:hover {
  color: darkcyan;
}
.home__inner {
  height: calc(100vh - 218px);
  top: 50%;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  justify-content: center;
  font-size: 48px;
}
@media screen and (max-width:480px){
  .home__inner {
    width: 320px;
  }
}
  

.home__name {
  font-size: 48px;
  line-height: 65px;
  color: var(--second-color);
}
@media screen and (max-width:480px){
  .home__name {
    font-size: 30px;
  }
}
.home__title {
  font-weight: 700;
  font-size: 90px;
}
@media screen and (max-width:480px){
  .home__title{
    font-size: 65px;
  }
}
@media screen and (max-width:375px){
  .home__title{
    font-size: 45px;
  }
}

.home__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display:block;
  text-align: center;
}
@media screen and (max-width:480px){
  .home__link {
    font-weight: 300;
  }
}
@media only screen and (max-width:530px){  
  .home__link {
    font-weight: 300;
  } 
}
.home__link::before {
  content: "";
  position: absolute;
  background-image: url(./img/Vector2.svg);
  height: 21px;
  width: 37px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes arrow {
  0% {
    top: 40px;
  }
  50% {
    top: 70px;
  }
  100% {
    top: 40px;
  }
}
.title {
  position: relative;
  display: inline-block;
  line-height: 60px;
  font-size: 48px;
  padding-bottom: 30px;
}

.title::before {
  top: 42px;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background: rgba(35, 82, 222, 0.1)
}
.about {
  padding: 140px 0;
}
@media screen and (max-width: 768px){
  .about{
    padding: 90px 0;
  }
}
.about__me {
  flex-direction: column;
}
.about__item {
  margin-bottom: 30px;
}

.skill {
  background-color: #F6F6F8;
  padding: 140px 0;
  max-width: 1920px;
  max-height: 852px;
}

@media screen and (max-width: 768px) {
  .skill{
    padding: 90px 0;
}
}
@media only screen and (max-width:530px){
  .skill {
    padding: 90px 0;
  }
}

.text-bar{

}
@media only screen and (max-width:375px){
  .text-bar {
    padding-left: 10px;
  }
}

.skill-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width:530px){
  .skill-inner {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width:375px){
  .skill-inner {
    display: flex;
    flex-direction: column;
  }
}
.portrait {
  margin-right: 15px;
  width: 415px;
  height: 450px;
}
@media screen and (max-width: 375px) {
  .portrait {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .portrait {
    width: 288px;
    height: 275px;
  }
}

@media screen and (max-width: 1024px){
  .portrait {
    width: 250px;
    height: 245px;
  }
}
.bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 85px;
}
@media screen and (max-width:375px) {
  .bars {
    width: 350px;
    padding-bottom: 30px;
    align-items: center;
    padding-right: 30px;
}
}
@media screen and (max-width: 1024px){
  .bars{
    max-width: 600px;
    width: 100%;
    padding-bottom: 30px;
  }
}

.progress-bar {
  background-color:#DBDBED;
  height: 32px;
  width: 600px;
 }
@media screen and (max-width: 415px){
  .progress-bar{
    width: 300px;
  }
}
 @media only screen and (max-width:768px){  
  .bars {
    max-width: 450px;
    width: 100%;
    padding-bottom: 30px;
  }
 }
 .progress-bar span {
  display: inline-block;
 }  
 .blue span {
  background-color: #2352DE;
  height: 32px;
  width: 510px;
 }
 .text-bar {
  font-size: 18px;
  text-align: left;
  width: 50px;
  margin: 15px;
 }
 .Services {
  padding: 140px 0;
 }
.service-list {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width:530px){
  .service-list {
    flex-direction: column;
  }
}
.service-text {
  font-size: 28px;
}
.service-about {
  padding-top: 30px;
  font-size: 16px;
  padding-right: 90px;
}
.service-item {
  padding-top: 60px;
  display: flex;
  max-width: 330px;
  width: 100%;
  flex-direction: column;
}
@media only screen and (max-width:375px){
  .service-item {
    max-width: 375px;
    width: 100%;
  }
}
.codeicon {
  padding-bottom: 30px;
  padding-right: 50px;
  max-width: 110px;
  width: 100%;
  max-height: 110px;
  height: 100%;
}
.codeicon ::before
.codeicon ::after {
  content: "";
  position: absolute;
  display: block;
  max-width: 90px;
  width: 100%;
  max-height: 90px;
  height: 100%;
}

.project{
	text-align: center;
}
.project__item {
  width: 360px;
  height: 180px;
  position: relative;
  z-index: 1;
  margin: 20px auto;
}
@media only screen and (max-width:800px){  
  .project__item {
    width: 180px;
    height: 90px;
  }
}
.project__item:before,
.project__item:after {
  content: '';
  position: absolute;
  display: block;
  width: 150px;
  height: 180px;
  border: green solid 2px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.project__item:before {
  right: -5px;
  top: -5px;
  border-left: none;
  border-bottom: none;
}

.project__item:after {
  left: -5px;
  bottom: -5px;
  border-right: none;
  border-top: none;
}

.project__item:hover:before,
.project__item:hover:after {
  opacity: 1;
  visibility: visible;
}
.project__list{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 45px;
}
@media only screen and (max-width:375px){  
  .project__list {
    grid-template-columns: repeat(1,1fr);
  }
}
.project__item img{	
	max-width: 360px;
	width: 100%;
}
.results {
  margin-bottom: 140px;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  gap: 15px;
  /* flex-wrap: wrap; */
}
@media screen and (max-width: 768px){
  .results {
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px){
  .results{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    justify-items: center;
  }
}

.results__img {
  padding-top: 50px
}
.result-name {
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
  padding-top: 20px;
  white-space: nowrap;
  text-align: center;
}
.result-text {
  font-size: 44px;
  padding-top: 20px;
  padding-bottom: 20px;
  white-space: nowrap;
  text-align: center;
}
@media screen and (max-width: 480px){
  .result-text{
    font-size: 22px;
  }
}
.results-item {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #DBDBED;
  max-width: 275px;
  width: 100%;
  max-height: 275px;
  height: 100%;
}
@media screen and (max-width: 375px){
.results-item {
    max-width: 150px;
    width: 100%;
}
}
@media screen and (max-width: 480px){
  .results-item{
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    height: 100%;
  }
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
.contacts__inner {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 100px;
}
}
@media screen and (max-width: 375px) {
  .contacts__inner {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 20px;
  }
  }
.contacts__connection {
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .contacts__connection {
    padding-top: 30px;
  }
}
.contacts__number {
  padding-bottom: 15px;
  color:#2352DE;
}
.contacts__item {
  padding-right: 30px;
  width: 75px;
  height: 75px;
}
@media only screen and (max-width:800px){  
  .contacts__item {
    width: 63px;
    height: 63px;
  }
}
@media screen and (max-width:480px){
  .contacts__item {
    width: 56px;
  }
}

.contacts__form {
  display: flex;
}
.big_form {
  display: flex;
}
.form {
  display: inline-block;
  padding-bottom: 30px;
  padding-right: 30px;
}
input {
  border: none;
}
.form__item{
  padding: 10px;
  width: 255px;
  height: 44px;
  background-color:#F6F6F8;
}
.message__form {
  padding-top: 30px;
}
.message {
  color: #Ffffff;
  text-align: center;
  background-color:#2352DE;
  width: 148px;
  height: 47px;
}
.other__form__item {
  outline: none;
  border: none;
  resize: none;
  padding: 10px;
  background-color:#F6F6F8;
  width: 100%;
  height: 115px;
  max-width: 540px;
}
@media screen and (max-width: 480px){
  .results-other__form__item{
    height: 90px;
    width: 250px;
  }
}
h5 {
  padding-bottom: 10px;
}
footer {
  display: flex;
  padding: 115px 0;
  text-align: center;
  align-items: center;
  padding-top: 140px;
  background-color: #343740;
}
.menu-btn {
	display: none;
}
@media screen and (max-width:768px) {
	.menu-btn {
		background-color: transparent;
		border: none;
		outline: none;
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 2;
		overflow: hidden;
		margin-left: 20px;
	}
}
.menu-btn .bar:nth-child(2) {
	top: calc(50% - 9px);
}

.menu-btn .bar:nth-child(3) {
	top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-child(1) {
	display: none;
}

.menu-btn.active .bar:nth-child(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
	background-color: black;
}

.menu-btn.active .bar:nth-child(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
	background-color: black;
}

.menu-btn .bar {
  width: 30px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: 0.3s;
}
.menu-btn .bar:nth-child(2) {
  top: calc(50% - 9px);
}

.menu-btn .bar:nth-child(3) {
  top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-child(1) {
  display: none;
}
.menu-btn.active .bar:nth-child(2) {
 top: 50%;
 transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active .bar:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}